<?xml version="1.0" encoding="utf-8" ?>
<IMIntegration>
  <identityManager>1</identityManager>
  <apiMethods>
    <productByName>api/product/by-key/</productByName>
    <tokenUrl>connect/token</tokenUrl>
    <routesByUser>api/route/by-user</routesByUser>
    <tokenValidate>token/validate</tokenValidate>
	<login>api/identity/users/signIn</login>
	<users>api/identity/users</users>
    <roles>api/identity/roles</roles>
	<usersByRole>api/identity/users/byProductKeyOrRole</usersByRole>
  </apiMethods>
  <ProductName>Citas</ProductName>
  <ProductNameVA>Video Atencion</ProductNameVA>
  <tenantAppointment>3</tenantAppointment>

  <UserParams>
    <Username>[Usuario admin creado para VA]</Username>
    <Password>[Contraseña del usuario admin creado para VA]</Password>
    <ClientId>[ID del Producto creado en la Suite para VA]</ClientId>
  </UserParams>

  <UserNameAdminTenant>5</UserNameAdminTenant>
  <PasswordAdminTenant>2</PasswordAdminTenant>
  
  <Scope>address Citas email IdentityManager openid phone profile role</Scope>
  <ClientIdAppointment>4</ClientIdAppointment>
  <ClientSecretAppointment>6</ClientSecretAppointment>
</IMIntegration>