<?xml version="1.0" encoding="utf-8" ?>
<SystemInformation>
  <ProductInfo>
    <Version>2.15.0</Version>
    <Vendor>
      <Name>Sidesys IT Solutions</Name>
      <ContactInfo>
        <Phone>00 54 5239 9944</Phone>
        <Address></Address>
        <eMail>info@sidesys.com</eMail>
        <WebSite>www.sidesys.com</WebSite>
      </ContactInfo>
    </Vendor>
    <License>
      <ValidFrom></ValidFrom>
      <ValidUntil></ValidUntil>
	    <AllowedOrganization>
        <Count>99</Count>
        <AllowCreateExceeded/>
        <AllowOperateExceeded/>
      </AllowedOrganization>
    </License>
  </ProductInfo>
  <Capabilities>
    <Capability>
	  <Name>DynamicProfiles</Name>
      <Available>True</Available>
      <Enabled>True</Enabled>
      <Attributes />
    </Capability>
    <Capability>
      <Name>UserRegionalization</Name>
      <Available>True</Available>
      <Enabled>True</Enabled>
      <Attributes />
    </Capability>
    <Capability>
      <Name>ExtendedAuthenticationMode</Name>
      <Available>True</Available>
      <Enabled>True</Enabled>
      <Attributes />
    </Capability>
    <Capability>
      <Name>RememberUserLoginDefault</Name>
      <Available>True</Available>
      <Enabled>True</Enabled>
      <Attributes />
    </Capability>
    <Capability>
      <Name>ExplicitIdentificationDTE</Name>
      <Available>True</Available>
      <Enabled>True</Enabled>
      <Attributes />
    </Capability>
    <Capability>
      <Name>DefaultOrganization</Name>
      <Available>True</Available>
      <Enabled>True</Enabled>
      <Attributes/>
    </Capability>
    <Capability>
      <Name>DefaultService</Name>
      <Available>True</Available>
      <Enabled>True</Enabled>
      <Attributes/>
    </Capability>
    <Capability>
      <Name>SMSChannelOperation</Name>
      <Available>True</Available>
      <Enabled>True</Enabled>
      <Attributes/>
    </Capability>
    <Capability>
      <Name>NotificationEmails</Name>
      <Available>true</Available>
      <Enabled>true</Enabled>
      <Attributes/>
    </Capability>
    <Capability>
      <Name>NotificationSMS</Name>
      <Available>True</Available>
      <Enabled>True</Enabled>
      <Attributes/>
    </Capability>
    <Capability>
      <Name>AttendantSelection</Name>
      <Available>true</Available>
      <Enabled>true</Enabled>
      <Attributes/>
    </Capability>
    <Capability>
      <Name>MassiveAppointmentCancellation</Name>
      <Available>true</Available>
      <Enabled>true</Enabled>
      <Attributes/>
    </Capability>
    <Capability>
      <Name>ChannelOrigin</Name>
      <Available>true</Available>
      <Enabled>true</Enabled>
      <Attributes/>
    </Capability>
    <Capability>
      <Name>MapToOrganizationLocation</Name>
      <Available>true</Available>
      <Enabled>true</Enabled>
      <Attributes/>
    </Capability>
    <Capability>
      <Name>AppointmentQuotaByClientType</Name>
      <Available>false</Available>
      <Enabled>false</Enabled>
      <Attributes/>
    </Capability>
    <Capability>
      <Name>ImportExternalEntities</Name>
      <Available>true</Available>
      <Enabled>true</Enabled>
      <Attributes />
    </Capability>
    <Capability>
      <Name>NotificationQueue</Name>
      <Available>true</Available>
      <Enabled>true</Enabled>
      <Attributes/>
    </Capability>
    <Capability>
      <Name>IntegratedWitheFlow</Name>
      <Available>true</Available>
      <Enabled>true</Enabled>
      <Attributes />
    </Capability>
    <Capability>
      <Name>TimeZone</Name>
      <Available>true</Available>
      <Enabled>true</Enabled>
      <Attributes />
    </Capability>
    <Capability>
      <Name>CopyScheduleConfiguration</Name>
      <Available>true</Available>
      <Enabled>true</Enabled>
      <Attributes/>
    </Capability>
    <Capability>
      <Name>CIDWebServiceIntegration</Name>
      <Available>false</Available>
      <Enabled>false</Enabled>
	  <Attributes>
	  	<Attribute>
	  		<Name>NotClient</Name>
	  		<Value>1</Value>
	  	</Attribute>
	  	<Attribute>
	  		<Name>NotIdentified</Name>
	  		<Value>2</Value>
	  	</Attribute>
	  </Attributes>
    </Capability>
    <Capability>
      <Name>FirebaseAuth</Name>
      <Available>false</Available>
      <Enabled>false</Enabled>
      <Attributes/>
    </Capability>
    <Capability>
      <Name>LoginNoIdentified</Name>
      <Available>false</Available>
      <Enabled>false</Enabled>
      <Attributes/>
    </Capability>
    <Capability>
	  <Name>RepresentClient</Name>
	  <Available>true</Available>
	  <Enabled>true</Enabled>
	  <Attributes/>
     </Capability>
     <Capability>
	  <Name>ServiceByAttributes</Name>
	  <Available>false</Available>
	  <Enabled>false</Enabled>
	  <Attributes>
	  	<Attribute>
	  		<Name>AttributeFilter</Name>
	  		<Value>ClientType</Value>
	  	</Attribute>
	  </Attributes>
    </Capability>
    <Capability>
	<Name>ReportOccupancy</Name>
	<Available>True</Available>
	<Enabled>True</Enabled>
	<Attributes/>
    </Capability>
    <Capability>
      <Name>URLShortener</Name>
      <Available>false</Available>
      <Enabled>false</Enabled>
      <Attributes/>
    </Capability>
  </Capabilities>


  <FunctionValidators>
    <FunctionValidator>
      <Id>CapabilityValidator</Id>
      <ClassName>SideSys.eFlow.SystemInformation.CapabilityFunctionValidator</ClassName>
      <AssemblyName>SystemInformation.dll</AssemblyName>
    </FunctionValidator>
    <FunctionValidator>
      <Id>AlternatingCapabilityValidator</Id>
      <ClassName>SideSys.eFlow.SystemInformation.AlternatingCapabilityValidator</ClassName>
      <AssemblyName>SystemInformation.dll</AssemblyName>
    </FunctionValidator>

  </FunctionValidators>
  <Functions>
    <Function Id="8" Name="Regiones">
      <Validations>
        <FunctionValidator Id="CapabilityValidator" IsCacheable="True">
          <Capability Name="UserRegionalization" />
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="18" Name="Mantenimiento de regiones">
      <Validations>
        <FunctionValidator Id="CapabilityValidator" IsCacheable="True">
          <Capability Name="UserRegionalization" />
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="76" Name="Mantenimiento de Autentication">
      <Validations>
        <FunctionValidator Id="CapabilityValidator" IsCacheable="True">
          <Capability Name="ExtendedAuthenticationMode" />
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="77" Name="Verificacion de Acceso">
      <Validations>
        <FunctionValidator Id="CapabilityValidator" IsCacheable="True">
          <Capability Name="ExtendedAuthenticationMode" />
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="96" Name="Asignaciones pendientes de DTE">
      <Validations>
        <FunctionValidator Id="CapabilityValidator" IsCacheable="True">
          <Capability Name="ExplicitIdentificationDTE" />
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="97" Name="Administracion de Sesiones">
      <Validations>
        <FunctionValidator Id="CapabilityValidator" IsCacheable="True">
          <Capability Name="ExplicitIdentificationDTE" />
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="2012" Name="Valores por defecto">
      <Validations>
        <FunctionValidator Id="AlternatingCapabilityValidator" IsCacheable="false">
          <Group Id = "1">
            <Capability Name="DefaultOrganization"/>
          </Group>
          <Group Id = "2">
            <Capability Name="DefaultService"/>
          </Group>
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="2018" Name="NotificationEmails">
      <Validations>
        <FunctionValidator Id="AlternatingCapabilityValidator" IsCacheable="false">
          <Group Id = "1">
            <Capability Name="NotificationEmails"/>
          </Group>
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="2011" Name="Notificaciones SMS">
      <Validations>
        <FunctionValidator Id="AlternatingCapabilityValidator" IsCacheable="false">
          <Group Id = "1">
            <Capability Name="NotificationSMS"/>
          </Group>
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="2020" Name="Canal operativo SMS">
      <Validations>
        <FunctionValidator Id="AlternatingCapabilityValidator" IsCacheable="false">
          <Group Id = "1">
            <Capability Name="SMSChannelOperation"/>
          </Group>
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="2022" Name="MassiveCancellation">
      <Validations>
        <FunctionValidator Id="AlternatingCapabilityValidator" IsCacheable="false">
          <Group Id = "1">
            <Capability Name="MassiveAppointmentCancellation"/>
          </Group>
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="2023" Name="Origenes por canal">
      <Validations>
        <FunctionValidator Id="AlternatingCapabilityValidator" IsCacheable="false">
          <Group Id = "1">
            <Capability Name="ChannelOrigin"/>
          </Group>
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="200" Name="Importacion">
      <Validations>
        <FunctionValidator Id="CapabilityValidator" IsCacheable="True">
          <Capability Name="ImportExternalEntities" />
          <Capability Name="IntegratedWitheFlow" />
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="2003" Name="Servicios en e-Flow?">
      <Validations>
        <FunctionValidator Id="CapabilityValidator" IsCacheable="True">
          <Capability Name="IntegratedWitheFlow" />
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="2024" Name="Notificaciones Cola de Mensajería">
      <Validations>
        <FunctionValidator Id="AlternatingCapabilityValidator" IsCacheable="false">
          <Group Id = "1">
            <Capability Name="NotificationQueue"/>
          </Group>
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="193" Name="Zonas Horarias">
      <Validations>
        <FunctionValidator Id="CapabilityValidator" IsCacheable="True">
          <Capability Name="TimeZone" />
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="2025" Name="Herramienta de Copia de Planificación">
      <Validations>
        <FunctionValidator Id="CapabilityValidator" IsCacheable="false">
          <Capability Name="CopyScheduleConfiguration"/>
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="2028" Name="Reporte de Ocupación">
      <Validations>
        <FunctionValidator Id="CapabilityValidator" IsCacheable="false">
          <Capability Name="ReportOccupancy"/>
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="3008" Name="Grupos de clientes">
      <Validations>
        <FunctionValidator Id="CapabilityValidator" IsCacheable="false">
          <Capability Name="AppointmentQuotaByClientType"/>
          <Capability Name="CIDWebServiceIntegration"/>
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="3011" Name="Blanqueo de mail">
    <Validations>
        <FunctionValidator Id="CapabilityValidator" IsCacheable="false">
            <Capability Name="FirebaseAuth"/>
        </FunctionValidator>
    </Validations>
    </Function>
	<Function Id="3012" Name="Servicios Vinculados">
	  <Validations>
		  <FunctionValidator Id="CapabilityValidator" IsCacheable="false">
			  <Capability Name="AppointmentQuotaByClientType"/>
			  <Capability Name="CIDWebServiceIntegration"/>
			  <Capability Name="ServiceByAttributes"/>
		  </FunctionValidator>
	  </Validations>
	</Function>
    <Function Id="3014" Name="Reporte de Ocupación">
      <Validations>
        <FunctionValidator Id="CapabilityValidator" IsCacheable="false">
          <Capability Name="ReportOccupancy"/>
        </FunctionValidator>
      </Validations>
    </Function>
    <Function Id="3015" Name="Selección Funcionarios">
			<Validations>
				<FunctionValidator Id="CapabilityValidator" IsCacheable="false">
				<Capability Name="AttendantSelection"/>
				</FunctionValidator>
			</Validations>
		</Function>
  </Functions>
</SystemInformation>